body {
    background: #e5e5e5;
    color: #25282b;
    margin: 0;

    font-family: 'Montserrat', 'sans-serif';
}

body.hideScroll {
    overflow: hidden;
}

a {
    color: #ff5e84;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p, .description {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
}

#container {
    width: 80%;
    max-width: 980px;

    margin: 40px auto;
    display: flex;
}

#intro {
    width: 300px;
    margin-right: 64px;
}

main {
    margin: 32px 0; 
}

#buttons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 32px;
    
}

button {
    background: none;
    color: #ff5e84;
    border: none;
    outline: none;
    cursor: pointer;


    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    
}

button:hover {
    text-decoration: underline;
}

.button {
    color: white;
    background: #ff5e84;

    height: 40px;
    width: 150px;

    font-size: 14px;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(255, 0, 92, 0.20);
}

.button:hover {
    background-color: #0984e3;
    text-decoration: none;
}

footer {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;

    color: #777;
}

footer a {
    opacity: 0.7;
}

.idea {
    display: flex;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 16px -8px rgba(1, 1, 1, 0.1);

    margin-bottom: 32px;
    padding: 32px;
}

.idea p {
    margin: 8px 0; 
    color: #777;
}

.idea img {
    width: 60px;
    height: 60px;

    margin-right: 32px;
}

.idea h3 {
    margin: 0;
}

.idea .description {
    margin: 16px 0;
    
}


/* Modal */


#modal {
    background: #ff5e84;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    display: flex;
    justify-content: center;

    transition: 500ms;
}

#modal.addScroll {
    overflow: auto;
    position: fixed;
}

#modal.addScroll {
    overflow: auto;
}

#modal .content {
    margin-top: 5%;
    color: white;
}

#modal .content h1 { 
    text-align: center;
    text-transform: uppercase;
}

#modal form {
    max-width: 800px;
    width: 80%;

    margin: 0 auto 15%;

    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 20px;
}

form input,
form textarea {
    width: 100%;

    padding: 10px;
    border-radius: 6px;
    border: 1px solid rgba(141, 25, 52, 0.5);
    outline: none;

    font-size: 16px;

    box-sizing: border-box;
}

form label {
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.8px;
}


form button{
    background: white;
    width: 150px;
    height: 40px;

    border-radius: 6px;
    cursor: pointer;

    margin-top: 32px;

    grid-column: 2;
    justify-self: end;
    
    transition: 400ms;
}

form button:hover {
     background-color: #0984e3;
     color: white;
     text-decoration: none;
}

form a {
    background-color: white;
    color: #ff5e84;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 150px;
        height: 40px;

    font-size: 14px;
    font-weight: bold;
    border-radius: 6px;;
    align-self: end;

    transition: 400ms;
}

form a:hover {
    background: #f51010;
    color: #fff;
    text-decoration: none;
}

.content form div:nth-child(3),
.content form div:nth-child(4),
.content form div:nth-child(5) {
    grid-column: span 2;
}

#modal.hide{
    opacity: 0;
    visibility: hidden;
}

/* --- Ideia.html css --- */


#page-ideias header {
    display: flex;
    justify-content: space-between;
}

#page-ideias #container {
    display: block;
}

#page-ideias nav {
    display: flex;
    align-items: center;
}

#page-ideias nav li {
    list-style-type: none;
    margin-right: 16px;
}

#page-ideias nav li a {
    color: #25282b;
}

#page-ideias nav li a.button {
    color: white;
}

#page-ideias nav li:last-child {
    margin-right: 0; 
}

section#title {
    text-align: center;
}

section#title p{
    opacity: 0.7;
    margin: 0;
}

section#title h1 {
    margin: 0;
    font-size: 28px;
}


section#ideias {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

section#ideias .idea {
    margin: 0;
}

section#ideias,
section#title,
footer {
    margin: 64px;
}