{% extends "layout.html" %}


{% set bodyId = "page-ideias" %}


{% block title %}
<title>Ideias - Casa Criativa</title>
{% endblock %}


{% block content %}
<header>
    <a href="/">
        <img src="/logo.png" alt="Imagem da logomarca">
    </a>
    <nav>
        <li><a href="/">Início</a></li>
        <li><a href="#" onclick="onOff()" class="button">Adicionar ideia</a></li>
    </nav>
</header>

<section id="title">
    <p>em exibição</p>
    <h1>Ideias</h1>
</section>

<main>
    <section id="ideias">
        {% include "all_ideias.html" %}
    </section>
</main>

<footer>
    Com 💜 <a href="https://www.Rocketseat.com.br" target="_blank">Rocketseat</a>
</footer>

{% endblock %}